:root {
  --padding-size: 20px;
  --margin-size: 20px;
  --image-width: 140px;
  --border-corner: 5px;
  --icon-size: 40px;
  --border-size: 3px;
  --col-gap: 20px;
  --text-base: 1rem; /* 16px */
  --header-base: 1.5625rem;
  --header-lg: calc(var(--header-base) * 1.25);
  --header-xl: calc(var(--header-lg) * 1.25);
  --header-xxl: calc(var(--header-xl) * 1.25);
  --icon-color: #1282a2;
  --bg-color: #0a1128;
  --icon-github-color: #89c2d9;
  --white-font: #ffffff;
  --h2-project-color: #fb6f92;
  --h3-project-color: #ffb3c6;
  --link-project-color: #4ecdc4;
  --bg-projects: #034078;
  --bg-about: #f4f4f4;
  --color-front: #008000;
  --color-back: #9f86c0;
  --color-lang: #1b9aaa;
  --color-db: #f6aa1c;
  --color-tools: #e27396;
  --color-sap: #016db7;
  --color-idiom: #358f80;
  --header-career: #1e88e5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--white-font);
}

main {
  margin-top: var(--margin-size);
  margin-left: calc(var(--margin-size) * 2);
  padding: var(--padding-size);
  border-radius: var(--border-corner);
  font-size: clamp(
    var(--text-base),
    calc(var(--text-base) * 1.25),
    calc(var(--text-base) * 1.5625)
  );
}

h1 {
  font-size: var(--header-xxl);
}

h2 {
  font-size: var(--header-lg);
}

h3 {
  padding: var(--padding-size);
}

.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color);
  padding: calc(var(--padding-size) / 1.5);
}

.fa-house,
.fa-user,
.fa-folder-open,
.fa-graduation-cap,
.fa-industry,
.fa-envelope {
  color: var(--icon-color);
}

#home {
  height: 100vh;
}

#about {
  background-color: var(--bg-about);
  border-radius: var(--border-corner);
  padding: var(--padding-size);
  color: var(--bg-color);
  margin-bottom: calc(var(--margin-size) * 2);
}

#about h2 {
  color: var(--icon-color);
}

.round-image {
  border-radius: 50%;
  width: var(--image-width);
}

#projects {
  background-color: var(--bg-projects);
  padding: var(--padding-size);
  border-radius: calc(var(--border-corner) * 2);
}

#projects h2 {
  color: var(--h2-project-color);
}

#projects h3 {
  color: var(--h3-project-color);
}

.container-project {
  display: grid;
  grid-template-columns: 0.6fr 0.2fr;
  padding: var(--padding-size);
  justify-content: space-evenly;
  align-items: center;
}

.fa-github {
  color: var(--icon-github-color);
}

.img-text {
  display: flex;
  flex-direction: column;
  padding: var(--padding-size);
  font-size: var(--text-base);
  margin-bottom: var(--margin-size);
  align-items: center;
}

.img-text a {
  text-decoration: none;
  color: var(--link-project-color);
}

.img-project {
  width: 100%;
  border-radius: calc(var(--border-corner) * 2);
}

#skills {
  padding: var(--padding-size);
}

.container-skills {
  border: var(--border-size) solid;
  border-radius: calc(var(--border-corner) * 2);
  width: 100%;
  margin-bottom: calc(var(--margin-size) * 2);
  transition: all 0.3s;
}

.container-skills:hover {
  box-shadow: 0 3px 10px; /*shadow-horizontal shadow-vertical blur-efffect*/
}

.color-front {
  color: var(--color-front);
}

.color-back {
  color: var(--color-back);
}

.color-lang {
  color: var(--color-lang);
}

.color-db {
  color: var(--color-db);
}

.color-tools {
  color: var(--color-tools);
}

.color-sap {
  color: var(--color-sap);
}

.color-idiom {
  color: var(--color-idiom);
}

.container-skills h3 {
  margin: 0px 0px;
}

.elements-skill {
  display: grid;
  grid-template-columns: 0.45fr 0.45fr;
  justify-content: center;
  align-content: space-around;
  column-gap: var(--col-gap);
  padding: var(--padding-size);
}

.elements-skill p {
  font-size: medium;
  border: var(--border-size) solid;
  padding: calc(var(--padding-size) / 4);
  border-radius: 30%;
  text-align: center;
}

.elements-skill p:hover {
  color: var(--white-font);
}

#work-experience {
  padding: var(--padding-size);
}

.h2-work-color {
  color: var(--color-sap);
}

.container-work {
  display: flex;
  flex-direction: column;
}

.career-title-format {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--margin-size) * 2);
}

.career-title-format h3 {
  padding: 0px 0px;
  margin: 0px 0px;
  color: #00a8e8;
}

.career-title-format h4 {
  padding: 0px 0px;
  margin: 0px 0px;
}

.career-title-format p {
  margin-top: 0px;
}

/* #contact {
} */

@media (max-width: 600px) {
  .container-about {
    display: flex;
    flex-direction: column;
  }

  .left-line {
    border-left: 4px solid;
    padding-left: 60px;
  }

  .padding-margin {
    padding-left: calc(var(--margin-size) * 2);
    margin-bottom: calc(var(--margin-size) * 2);
    transition: all 0.2s;
    font-size: medium;
    transition: all 0.3s;
  }

  .padding-margin:hover {
    background-color: var(--bg-about);
    color: var(--bg-projects);
    border-radius: calc(var(--border-corner) * 5);
    padding: var(--padding-size);
  }
}

@media (min-width: 601px) and (max-width: 1280px) {
  .container-about {
    display: grid;
    grid-template-columns: 0.35fr 0.5fr;
    text-align: justify;
    margin-left: calc(var(--margin-size) * 2);
  }

  .round-image {
    width: clamp(var(--image-width), 70%, calc(var(--image-width) * 2));
    grid-row: span 3;
  }

  .container-general-skills {
    display: grid;
    grid-template-columns: 0.45fr 0.45fr;
    justify-content: space-around;
  }

  .left-line {
    border-left: 4px solid;
    padding-left: 60px;
  }

  .padding-margin {
    padding-left: calc(var(--margin-size) * 2);
    margin-bottom: calc(var(--margin-size) * 2);
    font-size: medium;
    transition: all 0.3s;
  }

  .padding-margin:hover {
    background-color: var(--bg-about);
    color: var(--bg-projects);
    border-radius: calc(var(--border-corner) * 5);
    padding: var(--padding-size);
  }
}

@media (min-width: 1281px) {
  .container-about {
    display: grid;
    grid-template-columns: 0.35fr 0.5fr;
    text-align: justify;
    margin-left: calc(var(--margin-size) * 2);
  }

  .round-image {
    width: clamp(
      calc(var(--image-width) * 2),
      70%,
      calc(var(--image-width) * 4) /* 560px */
    );
    grid-row: span 3;
  }

  .container-general-skills {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    justify-content: space-around;
  }

  .container-work {
    display: grid;
    grid-template-columns: 0.45fr 0.45fr;
    justify-content: space-around;
    align-items: space-around;
    margin-bottom: calc(var(--margin-size) * 2);
    margin-left: calc(var(--margin-size) * 2);
  }

  .left-line-educ {
    border-left: 4px solid;
    padding-left: 60px;
  }

  .right-line {
    border-right: 4px solid;
    padding-right: 60px;
  }

  .padding-margin {
    padding-left: calc(var(--margin-size) * 2);
    margin-bottom: calc(var(--margin-size) * 2);
    font-size: medium;
    transition: all 0.3s;
  }

  .padding-margin:hover {
    background-color: var(--bg-about);
    color: var(--bg-projects);
    border-radius: calc(var(--border-corner) * 5);
    padding: var(--padding-size);
  }
}
