:root {
  --padding-size: 20px;
  --margin-size: 20px;
  --image-width: 140px;
  --border-corner: 5px;
  --icon-size: 40px;
  --text-base: 1rem; /* 16px */
  --header-base: 1.5625rem;
  --header-lg: calc(var(--header-base) * 1.25);
  --header-xl: calc(var(--header-lg) * 1.25);
  --header-xxl: calc(var(--header-xl) * 1.25);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  padding: var(--padding-size);
}

main {
  margin-top: var(--margin-size);
  padding: var(--padding-size);
  background: #fff;
  border-radius: var(--border-corner);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: clamp(
    var(--text-base),
    calc(var(--text-base) * 1.25),
    calc(var(--text-base) * 1.5625)
  );
}

h1 {
  padding: var(--padding-size);
  font-size: var(--header-xxl);
}

h2 {
  margin-bottom: var(--margin-size);
  padding: var(--padding-size);
  font-size: var(--header-lg);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: calc(var(--padding-size) / 2) var(--padding-size);
}
.navbar .icon img {
  height: var(--icon-size);
  width: var(--icon-size);
  filter: invert(100%);
}

.margin-bt-paragraph p {
  padding: calc(var(--padding-size) / 2);
}

#home {
  height: 100vh;
}

.round-image {
  border-radius: 50%;
  width: var(--image-width);
  margin-bottom: calc(var(--margin-size) / 2);
}

.container-project {
  display: grid;
  grid-template-columns: 60% 20%;
  justify-content: space-around;
}

.bg-git {
  /* width: clamp(calc(var(--icon-size) * 0.5, 70%, calc(var(--icon-size)))); */
  width: calc(var(--image-width) * 0.6);
}

@media (max-width: 600px) {
  .container-about {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 601px) and (max-width: 1280px) {
  main {
    margin-left: calc(var(--margin-size) * 4);
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    flex-direction: column;
  }

  .container-about {
    display: grid;
    grid-template-columns: 35% 50%;
    text-align: justify;
    margin-left: calc(var(--margin-size) * 2);
  }

  .round-image {
    width: clamp(var(--image-width), 70%, calc(var(--image-width) * 2));
    grid-row: span 3;
  }
}

@media (min-width: 1281px) {
  main {
    margin-left: calc(var(--margin-size) * 4);
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    flex-direction: column;
  }

  .container-about {
    display: grid;
    grid-template-columns: 35% 50%;
    text-align: justify;
    margin-left: calc(var(--margin-size) * 2);
  }

  .round-image {
    width: clamp(
      calc(var(--image-width) * 2),
      70%,
      calc(var(--image-width) * 4) /* 560px */
    );
    grid-row: span 3;
  }
}
