:root {
  --padding-size: 20px;
  --margin-size: 20px;
  --image-width: 140px;
  --border-corner: 5px;
  --icon-size: 40px;
  --border-size: 2px;
  --col-gap: 20px;
  --text-base: 1rem; /* 16px */
  --header-base: 1.5625rem;
  --header-lg: calc(var(--header-base) * 1.25);
  --header-xl: calc(var(--header-lg) * 1.25);
  --header-xxl: calc(var(--header-xl) * 1.25);
  --icon-color: #1282a2;
  --bg-color: #0a1128;
  --icon-github-color: #89c2d9;
  --bg-github-hover: #1e88e5;
  --white-font: #ffffff;
  --h2-project-color: #fb6f92;
  --h3-project-color: #ffb3c6;
  --link-project-color: #4ecdc4;
  --bg-projects: #034078;
  --bg-about: #f4f4f4;
  --bg-elem-tools: #e27396;
  --header-type-work: #016db7;
  --h3-career-work: #00a8e8;
  --bg-contact-color: #e1e5f2;
  --face-color: #fdc500;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--white-font);
}

main {
  margin-top: var(--margin-size);
  margin-left: calc(var(--margin-size) * 2);
  padding: var(--padding-size);
  border-radius: var(--border-corner);
  font-size: clamp(
    var(--text-base),
    calc(var(--text-base) * 1.25),
    calc(var(--text-base) * 1.5625)
  );
}

footer {
  display: flex;
  padding-left: calc(var(--padding-size) * 3);
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color);
  padding: calc(var(--padding-size) / 1.5);
}

.fa-house,
.fa-user,
.fa-folder-open,
.fa-graduation-cap,
.fa-industry,
.fa-envelope {
  color: var(--icon-color);
}

#home {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.1fr 0.4fr 0.1fr;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-welcome {
  height: 40vh;
  border: calc(var(--border-size) * 3) solid var(--bg-about);
  padding: var(--padding-size);
  border-radius: 20%;
  position: relative;
  margin-bottom: calc(var(--margin-size) * 5);
  align-content: center;
  background-color: var(--bg-about);
  color: var(--bg-color);
}

#star1 {
  position: absolute;
  top: 6vh;
  left: 15vw;
}

#star2 {
  position: absolute;
  top: 35vh;
  left: 10vw;
}

#star3 {
  position: absolute;
  top: 83vh;
  left: 15vw;
}

#star4 {
  position: absolute;
  top: 12vh;
  left: 40vw;
}

#star5 {
  position: absolute;
  top: 8vh;
  right: 16vw;
}

#star6 {
  position: absolute;
  top: 40vh;
  right: 6vw;
}

#star7 {
  position: absolute;
  top: 68vh;
  right: 45vw;
}

#star8 {
  position: absolute;
  top: 85vh;
  right: 10vw;
}

.container-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-headphones {
  position: absolute;
  top: 2vh;
  right: 1vw;
  color: var(--bg-color);
}

.fa-keyboard {
  position: absolute;
  top: 2vh;
  left: 1vw;
  color: var(--bg-elem-tools);
}

.fa-gamepad {
  position: absolute;
  top: 30vh;
  right: 1vw;
  color: var(--bg-github-hover);
}

.fa-face-grin-beam {
  position: absolute;
  top: 30vh;
  left: 1vw;
  color: var(--face-color);
}

.fa-circle-arrow-down {
  color: var(--icon-color);
}

#about {
  background-color: var(--bg-about);
  border-radius: var(--border-corner);
  padding: var(--padding-size);
  color: var(--bg-color);
  margin-bottom: calc(var(--margin-size) * 2);
}

#about h2 {
  color: var(--icon-color);
}

.round-image {
  border-radius: 50%;
  width: var(--image-width);
}

#projects {
  padding: var(--padding-size);
}

#projects h2 {
  color: var(--h2-project-color);
}

#projects h3 {
  color: var(--h3-project-color);
}

.container-project {
  display: flex;
  width: 60vw;
  padding: var(--padding-size);
  justify-content: space-evenly;
  align-items: center;
  column-gap: 20px;
}

.fa-github {
  color: var(--icon-github-color);
  transition: all 1s;
}

.fa-github:hover {
  color: var(--bg-github-hover);
}

.img-text {
  display: flex;
  flex-direction: column;
  padding: var(--padding-size);
  margin-bottom: var(--margin-size);
  align-items: center;
}

.img-text a {
  text-decoration: none;
  color: var(--link-project-color);
}

.img-text a:hover {
  text-decoration: underline;
}

.img-text a:visited {
  color: var(--bg-github-hover);
}

.img-project {
  width: 100%;
  border-radius: calc(var(--border-corner) * 2);
}

#skills {
  padding: var(--padding-size);
}

#skills h3 {
  color: var(--bg-color);
}

#skills h4 {
  font-size: x-large;
  color: var(--bg-projects);
}

.bg-skills {
  background-color: var(--bg-about);
  padding: var(--padding-size);
  border-radius: calc(var(--border-corner) * 2);
}

.container-skill {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skill-element {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--col-gap);
}

.skill-element p {
  border: var(--border-size) solid var(--bg-color);
  border-radius: 5%;
  height: fit-content;
  padding: calc(var(--padding-size) / 2);
  color: var(--bg-color);
  margin: calc(var(--margin-size) / 2) 0;
}

.skill-element p:hover {
  background-color: var(--bg-elem-tools);
  color: var(--white-font);
  border-color: var(--bg-elem-tools);
}

#work-experience {
  padding: var(--padding-size);
  transition: all 1.5s;
}

.h2-work-color {
  color: var(--header-type-work);
}

.container-work {
  display: flex;
  flex-direction: column;
}

.career-title-format {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--margin-size) * 2);
}

.career-title-format h3 {
  padding: 0px 0px;
  margin: 0px 0px;
  color: var(--h3-career-work);
}

.career-title-format h4 {
  padding: 0px 0px;
  margin: 0px 0px;
}

.career-title-format p {
  margin-top: 0px;
}

.padding-margin {
  padding-left: calc(var(--margin-size) * 2);
  margin-bottom: calc(var(--margin-size) * 2);
}

.padding-margin:hover {
  background-color: var(--bg-about);
  color: var(--bg-projects);
  border-radius: calc(var(--border-corner) * 5);
  padding: var(--padding-size);
}

#contact {
  padding: var(--padding-size);
}

.container-contact {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 60vw;
  background-color: var(--bg-contact-color);
  opacity: 0.9;
  margin-left: var(--margin-size);
  margin-bottom: var(--margin-size);
  border-radius: var(--border-corner);
  align-items: center;
  align-content: center;
  padding: calc(var(--padding-size) * 2);
  row-gap: var(--col-gap);
}

.fa-at,
.fa-square-linkedin {
  color: var(--h2-project-color);
}

.container-contact {
  font-size: var(--header-base);
}

.container-contact a {
  text-decoration: none;
  color: var(--bg-color);
}

.container-contact a:hover {
  color: var(--h3-career-work);
}

.fa-heart {
  color: var(--h2-project-color);
}

@media (max-width: 380px) {
  .container-contact {
    height: 30vh;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: var(--header-xl);
  }

  h3 {
    font-size: var(--header-lg);
  }

  p {
    font-size: var(--header-base);
  }

  .container-welcome h1 {
    font-size: var(--header-xxl);
  }

  .container-about {
    display: flex;
    flex-direction: column;
  }

  .left-line {
    border-left: calc(var(--border-size) * 2) solid;
    padding-left: calc(var(--padding-size) * 3);
  }
}

@media (min-width: 601px) and (max-width: 1280px) {
  h2 {
    font-size: calc(var(--header-xl) * 2);
  }

  h3 {
    font-size: calc(var(--header-lg) * 1.5);
  }

  p {
    font-size: calc(var(--header-base) * 1.1);
  }

  .container-welcome h1 {
    font-size: calc(var(--header-xxl) * 2);
  }

  .container-about {
    display: grid;
    grid-template-columns: 0.35fr 0.5fr;
    text-align: justify;
    margin-left: calc(var(--margin-size) * 2);
  }

  .round-image {
    width: clamp(var(--image-width), 70%, calc(var(--image-width) * 2));
    grid-row: span 3;
  }

  .img-text {
    font-size: var(--header-base);
  }

  .container-general-skills {
    display: grid;
    grid-template-columns: 0.45fr 0.45fr;
    justify-content: space-around;
  }

  .career-title-format h4 {
    font-size: calc(var(--header-base) * 1.2);
  }

  .career-title-format div {
    font-size: calc(var(--header-base) * 1.2);
  }

  .left-line {
    border-left: calc(var(--border-size) * 2) solid;
    padding-left: calc(var(--padding-size) * 3);
  }

  .padding-margin {
    font-size: var(--header-base);
  }

  .container-cont-general {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr;
    justify-content: space-evenly;
    width: 70vw;
    column-gap: clamp(var(--col-gap), 80%, calc(var(--col-gap) * 2));
  }

  .container-contact {
    width: 30vw;
    row-gap: var(--col-gap);
  }

  .footer {
    justify-content: center;
  }
}

@media (min-width: 1281px) {
  h2 {
    font-size: calc(var(--header-xl) * 2);
  }

  h3 {
    font-size: calc(var(--header-lg) * 1.5);
  }

  p {
    font-size: calc(var(--header-base) * 1.1);
  }

  .container-welcome h1 {
    font-size: calc(var(--header-xxl) * 2);
  }

  .container-about {
    display: grid;
    grid-template-columns: 0.35fr 0.5fr;
    text-align: justify;
    margin-left: calc(var(--margin-size) * 2);
  }

  .round-image {
    width: clamp(
      calc(var(--image-width) * 2),
      70%,
      calc(var(--image-width) * 4)
    );
    grid-row: span 3;
  }

  .container-project {
    width: 50vw;
  }

  .img-text {
    font-size: var(--header-base);
  }

  .container-general-skills {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    justify-content: space-around;
    align-items: space-around;
  }

  .container-work {
    display: grid;
    grid-template-columns: 0.45fr 0.45fr;
    justify-content: space-around;
    align-items: space-around;
    margin-bottom: calc(var(--margin-size) * 2);
    margin-left: calc(var(--margin-size) * 2);
  }

  .left-line-educ {
    border-left: calc(var(--border-size) * 2) solid;
    padding-left: calc(var(--padding-size) * 3);
  }

  .right-line {
    border-right: calc(var(--border-size) * 2) solid;
    padding-right: calc(var(--padding-size) * 3);
  }

  .career-title-format h4 {
    font-size: calc(var(--header-base) * 1.2);
  }

  .career-title-format div {
    font-size: calc(var(--header-base) * 1.2);
  }

  .padding-margin {
    font-size: var(--header-base);
  }

  .container-cont-general {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr;
    justify-content: space-evenly;
    width: 60vw;
    column-gap: clamp(var(--col-gap), 80%, calc(var(--col-gap) * 2));
  }

  .container-contact {
    width: 30vw;
    row-gap: var(--col-gap);
  }
}
